
*{padding: 0;margin: 0;box-sizing: border-box;}

.cpicker{width: 446px;display: flex;flex-direction: column;gap:5px;}
.cpicker-svbox {width: 100%;height:228px;background:linear-gradient(to top, #000 0%, rgb(0 0 0 / 0) 100%),linear-gradient(to right, #fff 0%, rgb(255 255 255 / 0) 100%);background-color: red;position: relative;}
.cpicker-svbox-pointer{position: absolute;top:50px;left:100px;width:7px;height:7px;border-radius: 50%;outline:1px solid #fff;transform: translate(-50%,-50%);pointer-events: none;}

.cpicker-hueslider{height: 20px;background: linear-gradient( to right, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, rgb(255, 0, 0) 100% );position: relative;}

.cpicker-alphaslider{height: 20px;position: relative;isolation: isolate;background:repeating-conic-gradient(#ccc 0% 25%, #fff 0% 50%) 0% 0% / 10px 10px;}
.cpicker-alphaslider-bg{background: linear-gradient(to right, rgba(247, 14, 14, 0) 0%, rgb(247, 14, 14) 100%);position: absolute;top:0;left:0;width: 100%;height: 100%;} 

[type="range"]{position: absolute;width: 100%;height: 100%;top:0;left: 0;background: transparent;-webkit-appearance: none;appearance: none;border:none;padding: 0;}
[type="range"]::-moz-range-thumb {width: 4px;height:20px;border:2px solid #fff;background: transparent;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
[type="range"]::-webkit-slider-thumb {width: 4px;height:20px;border:2px solid #fff;background: transparent;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
[type="range"]::-webkit-slider-runnable-track {height: 20px;background: transparent;border-radius: 4px;}

.cpicker-form{display: flex;flex-direction: row;flex-wrap: nowrap;gap:4px;}

.cpicker-inputs-wrapper{flex-grow: 1;display: flex;flex-wrap: nowrap;gap: 4px;}
.cpicker-inputs{display: none;gap: 4px;}
.cpicker-inputs.show{display: flex;}
.cpicker-inputs .cpicker-input{appearance: none;-moz-appearance: textfield;text-align: center;flex-grow: 1;width:40px;}

.cpicker-inputs-rgb{flex-grow: 1;}
.cpicker-inputs-hex{flex-grow: 1;}
.cpicker-input-alpha{width:44.75px;flex-grow: 0;}





/* 
:host {position: fixed;display: flex;justify-content: center;align-items: center;height: calc(100vh - 40px);width: 100%;max-width: 250px;z-index: 3;background: var(--background--color);transition: none;}
:host * {color: var(--secondary--color);transition: none;}

.color-area {width: 250px;height: 250px;margin: 0 0 5px;background:linear-gradient(to top, #000 0%, rgb(0 0 0 / 0) 100%),linear-gradient(to right, #fff 0%, rgb(255 255 255 / 0) 100%);background-color: red;position: relative;}
.color-area-point{position: absolute;top:50px;left:100px;width:7px;height:7px;border-radius: 50%;outline:1px solid #fff;transform: translate(-50%,-50%);pointer-events: none;}

.hue{width: calc(100% - 10px);height: 20px;margin: 5px;background: linear-gradient( to right, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, rgb(255, 0, 0) 100% );position: relative;}

.alpha{width: calc(100% - 10px);height: 20px;margin: 5px;position: relative;isolation: isolate;background:repeating-conic-gradient(#ccc 0% 25%, #fff 0% 50%) 0% 0% / 10px 10px;}
.alphabg{background: linear-gradient(to right, rgba(247, 14, 14, 0) 0%, rgb(247, 14, 14) 100%);position: absolute;top:0;left:0;width: 100%;height: 100%;}

[type="range"]{position: absolute;width: 100%;height: 100%;top:0;left: 0;background: transparent;-webkit-appearance: none;appearance: none;border:none;padding: 0;}
[type="range"]::-moz-range-thumb {width: 4px;height:20px;border:2px solid #fff;background: transparent;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
[type="range"]::-webkit-slider-thumb {width: 4px;height:20px;border:2px solid #fff;background: transparent;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
[type="range"]::-webkit-slider-runnable-track {height: 20px;background: transparent;border-radius: 4px;}

Code Box
.colorcode-box{display: flex;padding: 0 5px;gap: 6px;}
.colorcode-type{width: 64px;flex-shrink: 0;display: inline-flex;}

.colorcode-fields{flex-grow: 1;width: 60%;display: flex;gap: 2px;border-radius: 4px;overflow: hidden;}
.colorcode-field{display: none;height: 100%;}
.colorcode-field.show{display: flex;gap:2px;flex-grow: 1;width: 50%;}
.colorcode-fields .input{flex-grow: 1;background: #f5f5f5;border:none;text-align: center;}
.colorcode-hex .input, .colorcode-css .input{text-align: left;padding: 4px 6px 4px 6px;max-width: 100%;}
.colorcode-fields .alpha-input{max-width: 36px;}
.colorcode-css.show + .alpha-input{display: none;}


 Color Picker Palate
.colorpalate{padding: 0 5px;margin-top: 7px;}

.colorpalate-header{display: flex;justify-content: space-between;align-items: center;}
.colorpalate-header h5{margin-bottom: 0px;}

.colorpalate-items{display: flex;justify-content: flex-start;align-items: center;gap:5px;flex-wrap: wrap;margin-top: 10px;max-height: 60px;}
:host([data-scope="gradient-color-picker"]) .colorpalate-items{max-height: 75px;}
.colorpalate-item{width: 20px;height: 20px;border-radius: 3px;}
.colorpalate-item:nth-child(2n+1){background-color: red;}
.colorpalate-item:nth-child(2n+2){background-color: green;}
.colorpalate-item:nth-child(2n+3){background-color: blue;}
.colorpalate-item:nth-child(2n+4){background-color: yellow;}
.colorpalate-item:nth-child(2n+5){background-color: purple;}

.plus-icon{width: 18px;height: 18px;}

 Start colorstyle - DRY 
:host([data-scope="gradient-color-picker"]) .clrstyle{display: none;}
.clrstyle{display: flex;justify-content: flex-start;align-items: center;padding: 8px 10px;gap: 10px;border-bottom: 1px solid var(--color--e6e6e6);}
.clrstyle-item{display: inline-flex;width: 22px;height: 22px;border:2px solid #e6e6e6;}
.clrstyle-solid{background: #000;pointer-events: none;}
.clrstyle-gradient{background: linear-gradient(to right, #000 0%, #fff 100%);}

 */

